<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">


    <update id="update" parameterType="Category">
        update category
        <set>
            <if test="type != null">type = #{type},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_Time = #{updateTime},</if>
            <if test="updateUser != null">update_User = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <select id="page" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by create_time
    </select>

    <!--如果结果是一个集合，resultType的类型只需要是集合中的每个元素的类型就行，不是集合的类型    -->
    <select id="getByType" resultType="com.sky.entity.Category">
        select * from category
        <where>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
        </where>
    </select>

</mapper>
